#![enable(implicit_some)]
VolcaSample(
    patterns: {
        0: (
            parts: {
                // 0: (
                //     sample: 11,
                //     steps: [1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0]
                // ),
                // 1: (
                //     sample: 57,
                //     steps: [0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]
                // ),
                // 2: (
                //     sample: 74,
                //     steps: [0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1]
                // )
                0: (
                    sample: 11,
                    steps: [1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0]
                ),
                1: (
                    sample: 57,
                    steps: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
                ),
                2: (
                    sample: 74,
                    steps: [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0]
                )
            }
        )
    }
)