#![enable(implicit_some)]
VolcaSample(
    samples: {
        0: Sample((
            file: "analog.ron",
        )),
        1: Sample((
            file: "sample1501361799412",
        )),
        2: Sample((
            file: "sample1501361799415",
        )),
        3: Sample((
            file: "sample1501361799417",
        )),
        4: Sample((
            file: "sample1501361799419",
        )),
        5: Sample((
            file: "sample1501361799421",
        )),
        6: Sample((
            file: "sample1501361799423",
        )),
        7: Sample((
            file: "sample1501361799424",
        )),
        8: Sample((
            file: "sample1501361799426",
        )),
        9: Sample((
            file: "sample1501361799428",
        )),
        10: Sample((
            file: "sample1501361799429",
        )),
        11: Sample((
            file: "sample1501361799430",
        )),
        12: Sample((
            file: "sample1501361799440",
        )),
        13: Sample((
            file: "sample1501361799441",
        )),
        14: Sample((
            file: "sample1501361799442",
        )),
        15: Sample((
            file: "sample1501361799444",
        )),
        16: Sample((
            file: "sample1501361799445",
        )),
        17: Sample((
            file: "sample1501361799446",
        )),
        18: Sample((
            file: "sample1501361799447",
        )),
        19: Sample((
            file: "sample1501361799448",
        )),
        20: Sample((
            file: "sample1501361799449",
        )),
        21: Sample((
            file: "sample1501361799455",
        )),
        22: Sample((
            file: "sample1501361799456",
        )),
        23: Sample((
            file: "sample1501361799463",
        )),
        24: Sample((
            file: "sample1501361799465",
        )),
        25: Sample((
            file: "sample1501361799475",
        )),
        26: Sample((
            file: "sample1501361799476",
        )),
        27: Sample((
            file: "sample1501361799477",
        )),
        28: Sample((
            file: "sample1501361799478",
        )),
        29: Sample((
            file: "sample1501361799479",
        )),
        30: Sample((
            file: "sample1501361799480",
        )),
        31: Sample((
            file: "sample1501361799481",
        )),
        32: Sample((
            file: "sample1501361799482",
        )),
        33: Sample((
            file: "sample1501361799560",
        )),
        34: Sample((
            file: "sample1501361799561",
        )),
        35: Sample((
            file: "sample1501361799562",
        )),
        36: Sample((
            file: "sample1501361799563",
        )),
        37: Sample((
            file: "sample1501361821407",
        )),
        38: Sample((
            file: "sample1501361821408",
        )),
        39: Sample((
            file: "sample1501361821409",
        )),
        40: Sample((
            file: "sample1501361821410",
        )),
        41: Sample((
            file: "sample1501361821412",
        )),
        42: Sample((
            file: "sample1501361821413",
        )),
        43: Sample((
            file: "sample1501361821414",
        )),
        44: Sample((
            file: "sample1501361821417",
        )),
        45: Sample((
            file: "sample1501361821419",
        )),
        46: Sample((
            file: "sample1501361821421",
        )),
        47: Sample((
            file: "sample1501361821423",
        )),
        48: Sample((
            file: "sample1501361821424",
        )),
        49: Sample((
            file: "sample1501361821425",
        )),
        50: Sample((
            file: "sample1501362119239",
        )),
        51: Sample((
            file: "sample1501362119241",
        )),
        52: Sample((
            file: "sample1501362119243",
        )),
        53: Sample((
            file: "sample1501362119244",
        )),
        54: Sample((
            file: "sample1501362119245",
        )),
        55: Sample((
            file: "sample1501362119246",
        )),
        56: Sample((
            file: "sample1501362119247",
        )),
        57: Sample((
            file: "sample1501362119248",
        )),
        58: Sample((
            file: "sample1501362119250",
        )),
        59: Sample((
            file: "sample1501362119251",
        )),
        60: Sample((
            file: "sample1501362119252",
        )),
        61: Sample((
            file: "sample1501362119253",
        )),
        62: Sample((
            file: "sample1501362119254",
        )),
        63: Sample((
            file: "sample1501362119255",
        )),
        64: Sample((
            file: "sample1501362119256",
        )),
        65: Sample((
            file: "sample1501362119257",
        )),
        66: Sample((
            file: "sample1501362132455",
        )),
        67: Sample((
            file: "sample1501362132456",
        )),
        68: Sample((
            file: "sample1501362132458",
        )),
        69: Sample((
            file: "sample1501362132459",
        )),
        70: Sample((
            file: "sample1501362132460",
        )),
        71: Sample((
            file: "sample1501362132461",
        )),
        72: Sample((
            file: "sample1501362132462",
        )),
        73: Sample((
            file: "sample1501362132463",
        )),
        74: Sample((
            file: "sample1501362146741",
        )),
        75: Sample((
            file: "sample1501362146743",
        )),
        76: Sample((
            file: "sample1501362146744",
        )),
        77: Sample((
            file: "sample1501362146746",
        )),
        78: Sample((
            file: "sample1501362146747",
        )),
        79: Sample((
            file: "sample1501362146748",
        )),
        80: Sample((
            file: "sample1501362146750",
        )),
        81: Sample((
            file: "sample1501362146751",
        )),
        82: Sample((
            file: "sample1501362146752",
        )),
        83: Sample((
            file: "sample1501362146753",
        )),
        84: Sample((
            file: "sample1501362163539",
        )),
        85: Sample((
            file: "sample1501362163540",
        )),
        86: Sample((
            file: "sample1501362163541",
        )),
        87: Sample((
            file: "sample1501362163542",
        )),
        88: Sample((
            file: "sample1501362163543",
        )),
        89: Sample((
            file: "sample1501362163544",
        )),
        90: Sample((
            file: "sample1501362163545",
        )),
        91: Sample((
            file: "sample1501362163546",
        )),
        92: Sample((
            file: "sample1501362163548",
        )),
        93: Sample((
            file: "sample1501362163549",
        )),
        94: Sample((
            file: "sample1501362163550",
        )),
        95: Sample((
            file: "sample1501362163551",
        )),
        96: Sample((
            file: "sample1501362163552",
        )),
        97: Sample((
            file: "sample1501362163652",
        )),
        98: Sample((
            file: "sample1501362163653",
        )),
        99: Sample((
            file: "sample1501362163654",
        )),
        100: Sample((
            file: "sample1501362163655",
        )),
    },
)
