#![enable(implicit_some)]
VolcaSample(
    default_part_reverb: on,
    // parts:
    // 0: kick4
    // 1: kick3
    // 2: foothat
    // 3: snare4
    // 4: snare3
    // 5: snare2
    // 6: snare1
    // 7: ohat4
    patterns: {
        0: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 1, /**/ 0, 1, 0, 0, /**/ 0, 1, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 1, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 1, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3, unused
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2
                    sample: 5,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        1: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 1, /**/ 0, 0, 0, 1, /**/ 0, 1, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 1, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 1, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2, unused
                    sample: 5,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        2: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 1, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 1, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3, unused
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2
                    sample: 5,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 1, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        3: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 1, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 1, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 1, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3, unused
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2
                    sample: 5,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        4: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 0, /**/ 0, 1, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 1, /**/ 0, 0, 0, 1, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 1, /**/ 0, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2, unused
                    sample: 5,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        5: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 1, 1, 0, 0, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3, unused
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2
                    sample: 5,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        6: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 1, 0, 0, /**/ 1, 0, 1, 0],
                ),
                1: (
                    // kick3, unused
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 0, 0, 0],
                ),
                4: (
                    // snare3, unused
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2, unused
                    sample: 5,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 1, 0],
                )
            }
        ),
        7: (
            parts: {
                0: (
                    // kick4
                    sample: 3,
                    steps: [1, 0, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 1, 0, 0, /**/ 0, 1, 0, 0],
                ),
                1: (
                    // kick3
                    sample: 2,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 1, 0, 0, 0],
                ),
                2: (
                    // foothat
                    sample: 12,
                    steps: [1, 0, 0, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 1, 0, /**/ 0, 0, 0, 0],
                ),
                3: (
                    // snare4
                    sample: 7,
                    steps: [0, 0, 1, 0, /**/ 0, 1, 0, 0, /**/ 1, 0, 0, 1, /**/ 0, 0, 1, 0],
                ),
                4: (
                    // snare3, unused
                    sample: 6,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                5: (
                    // snare2, unused
                    sample: 5,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                6: (
                    // snare1, unused
                    sample: 4,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                ),
                7: (
                    // ohat4, unused
                    sample: 20,
                    length: 72,
                    amp_eg_decay: 100,
                    steps: [0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0, /**/ 0, 0, 0, 0],
                )
            }
        ),
    }
)